<h1>Найденные вакансии по запросу: <span class="job_name"><em> <%= @job_name %></em></span> </h1>
<%= link_to 'Back', root_path %>
  <% @result_array.each do |r| %>
  <p>
    <%= r['name'] %>
  </p>
  <%end%>
