// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.job_name {
  color: orange;
}
table {
    border: 1px solid black;
    padding: 0;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 80%;
    margin: auto
}

td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

h1.vacancy {
  text-align: center;
}

span.back {
  margin-bottom: 100px;
}
